pipeline/POC_Part1_Data_Ingestion.json
{
	"name": "POC_Part1_Data_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "listOfInputTablesLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select TABLE_NAME from INFORMATION_SCHEMA.TABLES where TABLE_SCHEMA = 'SalesLT' and TABLE_TYPE = 'BASE TABLE'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "lookupInputTables",
						"type": "DatasetReference",
						"parameters": {
							"servName": "demokafeel.database.windows.net",
							"dbName": "POC_Demo",
							"userName": "sqladmin",
							"password": "Password@123"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop_through_table_names",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "listOfInputTablesLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('listOfInputTablesLookup').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy table data to ADLS Gen2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SourceTableDS",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}