pipeline/POC_Part1_Data_Ingestion.json
{
	"name": "POC_Part1_Data_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "listOfInputTablesLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select SourcePath,SourceTableName,DestinationBaseDir,DestinationDirectory,DestinationFileName from dbo.Info_lookup",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "lookupInputTables",
						"type": "DatasetReference",
						"parameters": {
							"servName": {
								"value": "@pipeline().parameters.gb_servername",
								"type": "Expression"
							},
							"dbName": {
								"value": "@pipeline().parameters.gb_dbname",
								"type": "Expression"
							},
							"userName": {
								"value": "@pipeline().parameters.gb_username",
								"type": "Expression"
							},
							"password": {
								"value": "@pipeline().parameters.gb_password",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop_through_table_names",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "listOfInputTablesLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('listOfInputTablesLookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "Copy table data to ADLS Gen2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "SalesLT.@{item()}"
								},
								{
									"name": "Destination",
									"value": "raw//"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceTableDS",
									"type": "DatasetReference",
									"parameters": {
										"sourceSchema": {
											"value": "@item().SourcePath",
											"type": "Expression"
										},
										"sourceTableName": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "poc_output_dataset",
									"type": "DatasetReference",
									"parameters": {
										"directoryName": {
											"value": "@item().DestinationDirectory",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@item().SourcePath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().DestinationFileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"gb_servername": {
				"type": "string"
			},
			"gb_dbname": {
				"type": "string"
			},
			"gb_username": {
				"type": "string"
			},
			"gb_password": {
				"type": "string"
			}
		},
		"annotations": []
	}
}